<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}">
    <meta charset="UTF-8">
    <title>Registrer</title>
</head>
<body>
<div class="box">
<h1>Registration Form</h1>
<form th:action="@{/register}" th:object="${user}" method="post">
    <label>Username: <input type="text" th:field="*{username}"></label><br>
    <label>Email: <input type="email" th:field="*{email}"></label><br>
    <label>Password: <input type="password" th:field="*{password}"></label><br>
    <label>Valideringstype:
        <select name="mode">
            <option value="simple">Simple</option>
            <option value="strict">Strict</option>
        </select>
    </label><br>
    <button type="submit">Opret</button>
</form>
</div>
</body>
</html>